<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-image" href="/static/tiziico.png">
		<title>tizi,最好用的翻墙解决方案</title>
		<link rel="stylesheet" href="/static/animate.css" charset="UTF-8" />
		<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" charset="UTF-8" />-->
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" charset="UTF-8" />
		<link rel="stylesheet" href="/static/tizi_all.css" charset="UTF-8" />

		<script src="/static/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/static/jquery.mousewheel.min.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/static/tizi_index.js" type="text/javascript" charset="UTF-8"></script>
	</head>

	<body class="chinese">
		<div id="wrapper">
			<div class="masthead comtainheit">
				<div class="logoline">
					<div class="logocont">
						<img src="/static/tizi.480.png" />
						<p>爬出墙，让你的世界自由呼吸！</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="container1 ">
					<div class="home-signup">
						<div class="login-box">
							<a href="javascript:;" class=" tab col-xs-6 ng-binding ">注册</a>
							<a href="javascript:;" class="signin tab col-xs-6 ng-binding active">登录</a>
							<form class="step" action="/background/signin" method="post">
								<div class="form-group inemail">
									<div class="errors">
										<span class="notExisted"><i class="fa fa-info-circle"></i></span>
									</div>
									<label class="input-opt">邮箱</label>
									<input class="font-kai input-lg form-control " id="inuser_name" name="email" placeholder=" 请输入邮箱" type="text" />
								</div>
								<div class="form-group inpassword ">
									<div class="errors">
										<span class="notExisted"><i class="fa fa-info-circle"></i></span>
									</div>
									<label class="input-opt">密码</label>
									<input class="font-kai input-lg form-control has-error" id="inuser_password" name="password" placeholder=" 请输入密码" type="password" />
								</div>
								<button type="submit" class="btn btn-block btn-primary btn-lg">
									<span>登录</span>
								</button>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
				<br />
				<div class="pcenter">
					<p style="font-size: 15px;">
						遵守<a href="" target="_blank">梯子准则</a>，请远离不良信息。
					</p><span>(c) Copyright 2015 Tizi.in &nbsp;All Rights Reserved.</span>
				</div>

			</div>
		</div>
	</body>

</html>