<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-image" href="static/tiziico.png">
		<title>tizi,最好用的翻墙解决方案</title>
		<link rel="stylesheet" href="static/animate.css" charset="UTF-8" />
		<!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" charset="UTF-8" />-->
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" charset="UTF-8" />]

		<script src="static/jquery.min.js" type="text/javascript" charset="UTF-8"></script>]
	</head>

	<body class="chinese">
		<%=info%>
		<a href="/index">返回</a>
	</body>

</html>